.header{
    width:100%;
    position: fixed;
    height: 80px;
    background-color: #fff1d3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.header h4{
    color:rgb(27, 9, 131);
    font-size: 2rem;
    letter-spacing: 1.3px;
    margin: 0 2VW;

}
.header span{
    color:rgb(194, 42, 11);
    font-size: 1.7rem;
    letter-spacing: 1.3px;
}
.header a{
    color:rgb(13, 4, 62);
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    margin-left: 36px;
    font-weight: 600;
}
.header a:hover{
    color: rgb(194, 42, 11);
}

@media screen and (max-width: 950px){
    .header h4{
     
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin: 0 2VW;
    
    }
    .header span{
        font-size: 1.2rem;
        letter-spacing: 1px;
    }
    .header a{
        
        font-size: 16px;
    
        margin-left: 14px;
    }
    
}

@media screen and (max-width: 690px){
    .header h4{
     
        font-size: 1.2rem;
        letter-spacing: 0.6px;
        margin: 0 2VW;
    
    }
    .header span{
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .header a{
        
        font-size: 14px;
    
        margin-left: 12px;
    }
}
@media screen and (max-width: 530px){
    .header h4{
     
        font-size: 1.2rem;
        letter-spacing: 0.6px;
        margin: 0 2VW;
    
    }
    .header span{
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
    .header a{
        
        font-size: 12px;
    
        margin-left: 9px;
    }
}
@media screen and (max-width: 430px){
    .header h4{
     
        font-size: 1rem;
        letter-spacing: 0.4px;
        margin: 0 2VW;
    
    }
    .header span{
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
    .header a{
        
        font-size: 12px;
    
        margin-left: 4px;
    }
}

@media screen and (max-width: 370px){
    .header h4{
     
        font-size: 1rem;
        letter-spacing: 0.4px;
        margin-left:0px;
    
    }
    .header span{
        font-size: 0.7rem;
        letter-spacing: 1px;
    }
    .header a{
        
        font-size: 9px;
    
        margin-left: 2px;
    }
}