.product{
    width: 300px;
    height: 480px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info{
    margin: 0 14px;
}
.product-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
.product-name{
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin-top: 7px;
}
.btn-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
.btn-text{
    margin-right: 5px;
}
.btn-cart:hover{
    background-color: coral;
}

@media screen and (max-width: 350px){
    .product{
        width: 270px;
        height: 480px;
        border: 1px solid #95A0A7;
        border-radius: 8px;
        position: relative;
        margin-left: -20px;
    }
    .product img{
        width: 270px;
        height: 286px;
        border-radius: 8px;
        margin: 0px;
    }
    
}